*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
   
    background: linear-gradient(43deg, rgba(234,145,145,0.5) 0%, rgba(230,179,49,0.5) 100%),url('./images/photo.jpeg'); 
   /*  background-image: url('/images/photo.jpeg'); */
    
    
    background-size: cover;
    background-position: center;
    
   
}

header nav{
    width: 75%;
    display: flex;
}

header nav a img{
    width: 10rem;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav .burger{
    display: none;
}

header nav ul li a{
    font-family: 'Roboto', sans-serif;
    
   
    font-size: 1rem;
}

header nav ul li:nth-of-type(even){
    margin: 1.5rem;
}

header section p a{
    color:#EA9191;
    border: white;
    background-color: white;
    padding: 0.8rem;
    border-radius: 2rem;

}
header section{
    padding: 18vh;
}

header section p{
    font-family: 'Roboto', sans-serif;
}

header::after{
    content:"";
    display: block;
    position: relative;
    bottom: -4rem;
    background-color: white;
    width: 5rem;
    height: 5rem;
    margin: auto;
;   transform: rotate(45deg);
   
}

/* section gouter*/
.container{
    margin-top: 5rem;
}
#naturel article div{
    width: 50%;
    background-color: #E6B331;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#naturel article div img{
    width: 100%;
}
#naturel article p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #4B4975;
    margin-top: -5rem;
    margin-left: 4rem;
    width: 40%;
}

#naturel section section p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

#naturel section section h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #4B4975;
}

#naturel section div{
    margin-left: 1rem;
}

#naturel section div p{
    margin-top: 1rem;
}


/* produits*/

.produits-index{
    margin-top: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
    padding: 1rem;
}
#produits h2{
    font-family: 'Roboto', sans-serif;
    color: #EA9191;
    margin: 2rem 0;
    
    font-size: 2 rem;
}
 #produits section article img{
     width: 50%;
 }

 #produits section article p:nth-of-type(1){
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 0;
 }

 /*#footer*/
 footer{
    margin: 2rem auto;
    background: linear-gradient(43deg,  rgba(75, 73, 117, 0.5) 0%,rgba(234, 145, 145, 1) 50%,  rgba(230, 179, 49, 0.3) 100%);
}

 #footer{
     padding: 3rem;
 }
 #footer  section h3,
 #footer  section p{

    color: white;
    font-family: 'Roboto', sans-serif;
    
 }

 #footer section{
    width: calc(100%/2);
    
}
 #footer img{
     width: 1.5rem;

 }

#footer section section{
    
    margin-top: 4rem; 
    margin-bottom: 5rem;
    width: 25%;
}
#footer section section div:first-child{
    position: relative;
    
}
#footer section section div:first-child::after{
    content: "";
    display: block;
    width: 5vw;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 1.9vw;
    top: 1rem;
    
}
#footer section section div:first-child::before{
    content: "";
    display: block;
    width: 1px;
    height: 4rem;
    background-color: white;
    position: absolute;
    left: 0.7rem;
    top: -4rem;
    
}


#footer section section div:last-child{
    position: relative;
}
#footer section section div:last-child::after{
    content: "";
    display: block;
    width: 1px;
    height: 4rem;
    background-color: white;
    position: absolute;
    left: 0.7rem;
    top: 2.7rem;
}

#footer section article{
    width: 18%;
}

#footer > section:first-of-type > article {
    width: 46%;
}

#footer section:first-of-type p{
    text-align: center;
    margin-bottom: 0;
    width: 46%;
}


#footer section:first-of-type p:last-of-type{
    margin-bottom: 2rem;
}



 #footer section:first-of-type article img:nth-of-type(2){
     margin: 0 1.5rem;
 }

 #footer section:last-child form div:nth-of-type(2){
     margin: 1rem 0;
 }

 #footer section:last-child form div,
 #footer section:last-child form textarea{
   width: 90%;
   
}
#footer section:last-child form div input,
 #footer section:last-child form textarea{
   border-radius: 1rem;
   background-color:rgba(255,255,255,0.4);
   border-color: transparent;
}

#footer section:last-child form div input::placeholder,
#footer section:last-child form textarea::placeholder{
    color: white;
    font-family: 'Roboto', sans-serif;
}

#footer section:last-child form:last-child div input[type=submit]{
    color: white;
    background-color: #EA9191;
    text-align: center;
    padding: 0 1rem;
    
}

#footer section:last-child form:last-child div:last-child{
    margin-top: -1rem;
    text-align: center;
}

footer small{
    
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 1rem;
   
    position: relative;
    
}

footer small::before{
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 20%;
    top: -0.6rem;
    right: 35rem;

    
}

/* second page carousel*/


/* .carousel-css{
    height: 70vh;
} */

.border-produits{
    margin-top: 3rem;
    border: 0px;
    padding: 1rem;
    width: 90%;
}
.carousel-css h2{
    color: #ea9191;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
    
}  

/* .w-carousel{
    width: 90%;
} */
/* .photo-fit{
    object-fit: fill;
} */

.background_color{
    background-color: rgba(75, 73, 117, 0.2);
}


/* DETAIL PRODUIT*/

main nav ol li a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#first_part{
    width: 15rem;
}
#first_part img{
    width: 100%;
}

#second_part{
    font-family: 'Roboto', sans-serif; 
}
#second_part p{
    font-weight: 100;
}
#second_part ol{
   list-style: none;
   padding-left: 0;
}
#second_part ol li:nth-of-type(2){
    margin: 0 1rem;
}

#second_part ol li{
    background-color: #e9ecef;
    border: 1px solid #ccd5ae;
    padding:  0 3px;
    border-radius: 3px;
}



#second_part div button{
    width: 1.5rem;
    height: 1.5rem;
    
}
#second_part div p{
    border: 1px solid #e9ecef;
    width: 3rem;
    text-align: center;
}

#third_part div{
    border: 1px solid #dee2e6;
    padding: 1rem;
    font-family: 'Roboto', sans-serif; 
    
}


#third_part div button{
    text-decoration: none;
    color: white;
    background-color: #EA9191;
    width: 100%;
    border: 1px solid #EA9191;
    padding: 0.9rem 0;
}

.composition-produits ol{
    list-style: none;
    padding-left: 0;
}

.star-size{
    display: inline-block;
}

#opinions{
    margin-top: 1rem;
}

#opinions div div:first-of-type{
    margin-right: 1rem;
}

.customers-opinions> div{
    margin-top: 1rem;
}
#opinions div:nth-child(2) p:first-of-type{
    margin-bottom: 0;
} 

.description-composition{
    margin-top: 3rem;
}
.description-composition h3{
    margin-bottom: 1rem;
}
.customers-opinions{
    margin-top: 3rem;
}
/*RESPONSIVE*/
@media only screen and (max-width: 768px){
    #footer section{
        width: calc(100%/1);
        
    }
    #footer section:last-child form div,
    #footer section:last-child form textarea{
      width: 100%;
      
   }

   #footer section section div:first-child::after{
   
    width: 9vw;
    position: absolute;
    left: 4vw;
    
    
}
header nav .burger{
    display: block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
header nav .burger::before {
    content: '\f0c9';
    color:white;
    font-size: 2rem;
    cursor: pointer;

}
header nav .burger:checked::before {
    content: '\f00d';
}


header nav{
    background-color: #E6B331;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
header nav ul{
    position: fixed;
    top: 4.5rem;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 21vh;
    flex-direction: column;
    background-color: #E6B331;
    z-index: 2;
   
}
header nav .burger:checked+ul{
    display: flex;
}

/* fin menu */


}

/*  #footer section form input{
    font-family: 'Roboto', sans-serif;
    padding: 0 10rem;
 }
 #footer section form textarea{
    padding: 0 10 rem;
 } */